{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>FriendshipsGoal - Dashboard</title>

    <!-- Favicon -->
    <link rel="icon" href="">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">

</head>

<body>
    
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Search Form -->
        <div class="search-form d-flex align-items-center">
            <div class="container">
                <form action="index.html" method="get">
                    <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
                    <button type="submit"><i class="icon_search"></i></button>
                </form>
            </div>
        </div>

        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <a href="#"><i class="icon_phone"></i> <span>+91-7478742337</span></a>
                            <a href="#"><i class="icon_mail"></i> <span>friendshipgola07@gmail.com</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="robertoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/index/"><span style="font-weight:bold;">Friendships</span><span style="color:red;">Goal</span></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/index/">Home</a></li>
                                    <li><a href="/wall/">Profiles</a></li>
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>
                                <div class="book-now-btn ml-3 ml-lg-5">
                                    <a href="/logout/">Logout <i class="fa fa-lock" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'vliublennaia-para-muzhchina-zhenshchina-liubov-ulybki-reka-l.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Hi, {{ data.User_Name|safe }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/index/">Welcome</a></li>
                                
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    <section class="roberto-about-us-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img style="border-radius:200px;height:400px;width:400px;"src="{{ picture.User_Pic.url|safe }}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- Section Heading -->
                    <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                        <h6>My Profile</h6>
                        <h2>{{ data.User_Name|safe }}</h2>
                        <hr style="border-width:18px;border-color:red;border-radius:50px;">
                    </div>
                    <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="w3-card-4" style="padding:20px;">
                            <table style="width:100%;font-size:18px;"class="w3-table-all">
                                <tr>
                                    <td><i class="fa fa-envelope-o"></i></td>
                                    <td><input style="background-color:transparent;border:none;"type="email" value="{{ data.User_Email|safe }}" disabled></td>
                                    <td><button style="border:none;background-color:transparent;" disabled></button></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-phone"></i></td>
                                    <td><input style="background-color:transparent;border:none;"type="number" value="{{ data.User_Mobile|safe }}" name="mobile" id="mobile" disabled></td>
                                    <td><a style="border:none;background-color:transparent;" href="/editinfo/"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    {% if data.User_Gender == 'Female' %}
                                    <td><i class="fa fa-female"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-male"></i></td>
                                    {% endif %}
                                    <td><input style="background-color:transparent;border:none;"type="text" value="{{ data.User_Gender|safe }}" disabled></td>
                                    <td><button style="border:none;background-color:transparent;" disabled></button></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-calendar-check-o"></i></td>
                                    <td><input style="background-color:transparent;border:none;width:40px;text-align:right;"type="number" value="{{ data.User_Age|safe }}" name="age" id="age" disabled> Years Old</td>
                                    <td><a style="border:none;background-color:transparent;" href="/editinfo/"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow"></i></td>
                                    <td><input style="background-color:transparent;border:none;"type="text" value="{{ data.User_City|safe }}" name="city" id="age" disabled></td>
                                    <td><a style="border:none;background-color:transparent;" href="/editinfo/"><i class="fa fa-pencil"></i></a></td>
                                </tr>

                            </table>
                            </form>
                            <form action="/saveprofilepicture/" method="POST" enctype="multipart/form-data" id="picform">
                            <div style="text-align:center;padding-top:20px;"class="w3-bar">
                                <a style="border-radius:50px;"class="w3-button  w3-red w3-hover-black"href="/changepassword/"><i class="fa fa-lock"></i> Change Password</a>
                                
                                <input style="display:none;"type="file" name="picture" id="file" onchange="document.getElementById('picform').submit();">
                                <label for="file"style="border-radius:50px;"class="w3-button w3-red w3-hover-black"><i class="fa fa-camera"></i> Change Picture</label>
                                
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Area End -->

    <!-- Video Area Start -->
    

    
    

    <footer class="footer-area section-padding-80-0">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row align-items-baseline justify-content-between">
                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Footer Logo -->
                            <a style="float-left;color:white;font-size:25px;"href="#" class="footer-logo">Friendships<span style="float:right;color:red;font-size:25px;">Goal</span></a>

                            <h4>+91-7478742337</h4>
                            <span style="font-size:20px;">friendshipgola07@gmail.com</span>
                            <span style="font-size:20px;">India</span>
                            <p>Are you feeling lonely? Do not worry. you have come to the right place.
                            </p>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Links</h5>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="#register" class="post-title">Create Account</a>
                            </div>

                            <!-- Single Blog Area -->
                            <div class="latest-blog-area">
                                <a href="/login/" class="post-title">Login</a>
                            </div>
                            <div class="latest-blog-area">
                                <a href="/about/" class="post-title">About Us</a>
                            </div>
                            <div class="latest-blog-area">
                                <a href="/contact/" class="post-title">Contact Us</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-8 col-lg-4">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h5 class="widget-title">Subscribe Newsletter</h5>
                            <span>Subscribe our newsletter and get notification about new updates.</span>

                            <!-- Newsletter Form -->
                            <form action="index.html" class="nl-form">
                                <input type="email" class="form-control" placeholder="Enter your email...">
                                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="copywrite-content">
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>Website Designed &amp; Developed By <a href="https://www.srd.mobi">SRD - Shreshtha Research &amp; Development</a></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/roberto.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body>

</html> 